.breadcrumb-box {
  width: 100%;
  text-align: center;
  color: #ababab;
  span {
    padding: 0 0.4rem;
    font-size: 1.4rem;
  }
}


/** 
* !The below styles are for mobile and tablet
*/


/* Mobile */
@media (min-width: 320px) and (max-width: 880px) {
  .breadcrumb-box {
    span {
      padding: 0 0.8rem;
      font-size: 1.5rem;
    }
  }
}