.bundle-box {
  text-align: center;
  margin-top: 3.5rem;
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .bundle-hidden {
    transition: display, opacity 2s linear;
    -webkit-transition: display, opacity 2s linear;
    // padding: 10px;
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
  .bundle-hide {
    background-color: #3b3b3b;
    color: #f4f4f4;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.3rem;
    p {
      margin: 5px 0px;
    }
    button {
      width: 95%;
      margin: 0.2rem;
      padding: 1.2rem;
      background-color: #ff6600;
      color: #fff;
      border: none;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
  .bundle-display {
    background-color: #3b3b3b;
    color: #f4f4f4;
    border-top: 0.4rem solid #ff6600;
    padding: 1.4rem;
    p {
      font-size: 1.2rem;
    }
    .bundle-form {
      input,
      textarea,
      select {
        background-color: transparent;
        border: none;
        border-bottom: 0.1rem solid #f4f4f4;
        padding: 1.6rem 1rem 1.6rem 0;
        color: #f4f4f4;
      }
      input,
      textarea {
        font-family: inherit;
        width: 80%;
      }
      select {
        width: 90%;
        margin-top: 1.4rem;
        color: #efefef;
        overflow: hidden;
      }
      select:focus {
        color: #ff6600;
      }
      button {
        width: 50%;
        text-align: center;
        margin: 1.4rem auto;
        padding: 0.6rem 1rem;
        border: none;
        cursor: pointer;
        background-color: #ff6600;
        color: #f4f4f4;
      }
    }
  }
}
