

#join-us {
  background: #F5F5F5;
  padding-top: 80px;
  margin: 0px;
  p.strong {
    font-weight: 700;
  }
  p.orange-text {
    color: #ff6600;
  }
}

#join-us .content-container {
  display: flex;
  justify-content: center;
  padding: 6rem 2rem;
}

#join-us {
  h1 {
    color: #ff6600;
    font-family: 'bebas neue';
    font-size: 5.4rem;
    line-height: 65px;
    letter-spacing: -0.07px;
    text-align: center;
  }
}

#join-us .content-left {
  max-width: 500px;
  padding: 20px 20px;
}

#join-us .content-left {
  p {
    font-family: 'Muli';
    font-size:  1.8rem;
    line-height: 22px;
    letter-spacing: 0px;
    padding-bottom: 20px;
    color: #2E2E2E;
  }
}

#join-us .content-right {
  max-width: 600px;
  padding: 0px 10px;
}

#join-us .content-right form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  font-family: 'Muli';

  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .form-group-100 {
    width: 100%;
  }
  label {
    font-weight: bold;
    display: block;
    color: #2E2E2E;
  }
  input {
    background: #E8E8E8;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  textarea {
    background: #E8E8E8;
    width: 100%;
    padding: 20px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Muli';
  }
  button {
    background: #2E2E2E;
    padding: 10px 20px;
    color: #fff;
    font-family: 'Muli';
  }
}

#join-us .content-right form * {
  box-sizing: border-box;
}

#join-us .content-right form > div:nth-child(1) {
  padding-right: 10px;
}

#join-us .content-right form > div:nth-child(2) {
  padding-left: 10px;
}

.footer * {
  box-sizing: content-box;
}

.footer footer .footer-box {
  width: 100%;
  box-sizing: content-box;
}



/** 
* !The below styles are for mobile and tablet
*/


/* Mobile */
@media (min-width: 320px) and (max-width: 880px) {
  #join-us .content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #join-us .content-left {
    max-width: 100%;
  }

  #join-us .content-right {
    max-width: 100%;
  }
}

