.related-reports-box {
  margin-top: 4rem;
  border: 1px solid red;
  padding: 1.4rem;
  h3 {
    text-align: center;
    font-weight: 400;
  }
  .related-reports-list {
    list-style-type: none;
    padding: 0;
    .related-reports-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;
      border-bottom: 0.1rem solid #4d4d4d;
      .related-reports-img {
        width: 20%;
      }
      a {
        width: 80%;
        padding-left: 0.8rem;
        color: #3b3b3b;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}
