/* Fonts and colors used here are for testing only */

// @import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

// 'bebas neue': 'Oswald', sans-serif;
// 'Muli', sans-serif: 'Lato', sans-serif;
// 5.4rem;: 5.4rem;
// 2.4rem;: 2.4rem;
// 1.8rem: 1.8rem;
// #ff6600: #ff6600;
// #2E2E2E: #2E2E2E;

#termscondtions {
  display: flex;
  justify-content: center;
}

#termscondtions .content-container {
  padding: 6rem 2rem;
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  flex-direction: column;
  min-height: 30rem;
  width: 70%;
  h1 {
    font-size: 5.4rem;;
    color: #ff6600;
    font-family: 'bebas neue';
    padding-bottom: 6rem;
    text-align: center;
  }
  ul li {
    font-size: 1.8rem;
    color: #2E2E2E;
    font-family: 'Muli', sans-serif;
    line-height: 140%;
    padding-bottom: 10px;
    text-align: left;
    span.strong {
      font-weight: 700;
    }
  }
}

